# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=profi134
POSTGRES_HOST=postgres_prof
POSTGRES_PORT=5432

# Redis
REDIS_PASSWORD=another_strong_password
REDIS_HOST=redis_prof
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq_prof:5672

# Application
PORT=3000

# Telegram
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_CHAT_ID
