REDIS_ROOT_PASSWORD=super_secret_root_password

REDIS_USER=prod_user
REDIS_PASSWORD=another_strong_password
REDIS_USER_PASSWORD=usemeagain

REDIS_HOST=redis_prof
REDIS_PORT=6379

PORT=3000

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

RABBITMQ_URL=amqp://guest:guest@rabbitmq_prof:5672
TELEGRAM_BOT_TOKEN=8609571111:AAGbiLYasdasdaksdjalksjd
TELEGRAM_CHAT_ID=509081111
